@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.armyOverview {
    .container {
        background-color: $ms-color-themeLight;
        margin-bottom: 10px;
        .unit {
            padding: 15px;
            @include ms-Grid-row;
            .icon {
                @include ms-Grid-col;
                @include ms-lg3;
                @include ms-xl3;
                img {
                    width: 65px;
                }
            }
            .details {
                @include ms-font-xl;
                @include ms-Grid-col;
                @include ms-lg9;
                @include ms-xl9;
                color: $ms-color-themeDark;
                line-height: 3;
            }
        }
    }
    .levelUpButton {
        float: right;
    }
}