@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.battlePortfolio {
    .card {
        position: relative;
        width: 200px;
        margin-right: 16px;
        margin-bottom: 12px;
        display: inline-block;
        vertical-align: top;
    }
}