@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.warRoomControl {
    .container {
        @include ms-Grid-row;
        .warButton {
            @include ms-Grid-col;
            @include ms-lg12;
            @include ms-xl12;
            border-radius: 50px;
            text-align: center;
            padding: 20px;
            img {
                width: 150px;
            }
            .label {
                @include ms-font-xl;
                color: $ms-color-themeDark;
            }
        }
        .battleStats {
            @include ms-Grid-col;
            @include ms-lg12;
            @include ms-xl12;
            @include ms-font-l;
            background-color: $ms-color-themeDark;
            padding: 15px;
            .experiencePoints {
                @include ms-font-l;
            }
            .metadata {
                padding-bottom: 20px;
                .label {
                    color: white;
                    @include ms-font-xl;
                    display: inline-block;
                    width: 200px;
                }
                .value {
                    color: white;
                    @include ms-font-xl;
                    display: inline-block;
                }
            }
        }
    }
}