@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.levelUpDialog {
    .container {
        .body {
            .iconContainer {
                text-align: center;
                .icon {
                    width: 100px;
                }
            }
            .metadata {
                padding-bottom: 10px;
                .label {
                    @include ms-font-l;
                    display: inline-block;
                    width: 200px;
                }
                .value {
                    @include ms-font-l;
                    display: inline-block;
                }
            }
        }
    }
}